<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Go Securi - AGENT_NOM</title>
    <link rel="stylesheet" href="/css/page.css" />
</head>
<body>
<div class="buttonContainer">
    <a href="index.html" class="button">>Accueil</a>
</div>
<div class="pageContainer">
    <div class="headerContainer">
        <h1 class="headerTitle">AGENT_NOM</h1>
        <div class="headerImage">
            AGENT_IMAGE
        </div>
    </div>
    <div class="itemsContainer">
        <h1 class="itemsTitle">Équipements :</h1>
        <div>
        </div>
        AGENT_ITEMS
        ITEMS_NON
    </div>
</div>
</body>
</html>
